<?xml version="1.0"?>
<launch>
    <node pkg="depthimage_creater" type="transform" name="cluster_transform_0">
        <remap from="/objectinfo"       to="/cluster/objectinfo/pickup" />
        <remap from="/objectinfo/tf"    to="/objectinfo0/tf" />
        <param name="target_frame"      type="string"   value="camera0/camera_link" />
        <param name="source_frame"      type="string"   value="centerlaser" />
    </node>
    
    <node pkg="depthimage_creater" type="transform" name="cluster_transform_1">
        <remap from="/objectinfo"       to="/cluster/objectinfo/pickup" />
        <remap from="/objectinfo/tf"    to="/objectinfo1/tf" />
        <param name="target_frame"      type="string"   value="camera1/camera_link" />
        <param name="source_frame"      type="string"   value="centerlaser" />
    </node>
    
    <node pkg="depthimage_creater" type="transform" name="cluster_transform_2">
        <remap from="/objectinfo"       to="/cluster/objectinfo/pickup" />
        <remap from="/objectinfo/tf"    to="/objectinfo2/tf" />
        <param name="target_frame"      type="string"   value="camera2/camera_link" />
        <param name="source_frame"      type="string"   value="centerlaser" />
    </node>
    
    <node pkg="depthimage_creater" type="transform" name="cluster_transform_3">
        <remap from="/objectinfo"       to="/cluster/objectinfo/pickup" />
        <remap from="/objectinfo/tf"    to="/objectinfo3/tf" />
        <param name="target_frame"      type="string"   value="camera3/camera_link" />
        <param name="source_frame"      type="string"   value="centerlaser" />
    </node>

    <node pkg="depthimage_creater" type="transform" name="cluster_transform_4">
        <remap from="/objectinfo"       to="/cluster/objectinfo/pickup" />
        <remap from="/objectinfo/tf"    to="/objectinfo4/tf" />
        <param name="target_frame"      type="string"   value="camera4/camera_link" />
        <param name="source_frame"      type="string"   value="centerlaser" />
    </node>
</launch>
